
body{
    font-size:1.2em;
}

h4{
    margin-top:0;
}

input[type="checkbox"]{
    margin:0 !important;
    display: inline-block;
     margin-right: -20px;
    margin-left: 0;
}

.form-check-input {
    margin-left:20px;
}

#videowrapper { 
    padding:0 !important; 
}

#logresult ul{
    padding:0 15px;
    margin:0 0 20px 0;
}

label{
    font-weight:normal;
}


#logsettings input[type=number]{
    width: 80px;
    padding:0px;
}

#logoutput{
    width:95%;
    height: 150px;
    overflow: auto;
    margin: auto 4px;
    padding:2px;
    font-size:1em;
}

.vi2-video-timer{
    font-size:10px;
    width:100% !important;
}

.timelines{
    height:15px;
}
.video-controls{
    height:70px;
}

.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   text-align: center;
   margin-top:20px;
}

h4{
    font-weight:bold;
}

@media (max-width: 1200px) { 
    .control-bar{
        padding:0;
    }
 }


 @media (max-width: 1000px) { 
     body, #logsettings ul li span{
     }
    #video-controls{
        height:100px;
        display:inline-block;
    }
    #logsettings input[type=number]{
        width: 60px;
    }
 }